.todo-item {
 display: flex;
 justify-content: space-between;
 margin-bottom: 8px;
 border: 1px black solid;
}
.todo-item p {
 color: black;
 
}

.App{
  padding:50px;
}

.todo-item button {
  width: 50px;
  border: none;
  background-color: #519bf0;
}

.place {
  width: 300px;
  height: 50px;
}

.add_btn{
  width: 100px;
  height: 30px;
  margin-left: 30px;
  background-color: #519bf0;
}